html
	head
		title Profile
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
	body
		include ./navbar.pug
		div(class='container-fluid')
			h1 Your Profile
			if user
				h2 Hello, #{user.displayName}.

				if user.watchList
					p= "Your movie list:"
					ul 
						each movieInList in user.watchList
							li
								button(onclick="removeWatchlistMovie(\"" + movieInList.imdbID + "\")")= "Remove"
								span= movieInList.name
				else 
					p= "Go ahead and choose the movie you want to watch"

				if user.seenMovies
					p= "You've seen:"
					ul
						each movie in user.seenMovies
							li
								span
									button(onclick="removeSeenMovie(\"" + movie.imdbID + "\")")= "Remove"
									span= movie.name
								
				else
					p= "You haven't seen any movies yet"
			else
				h2 Please log in to view your profile.
				a(href="/login/facebook") Click here to log in with Facebook
		if user
			script.
				console.log("Logged in...")
				function removeWatchlistMovie(movieID) {
					$.get("/api/removeMovie?listName=watchlist&movieID=" + movieID, (data) => {
						console.log("Request is done. Returned:", data)
						location.reload()
					})
				}
				function removeSeenMovie(movieID) {
					$.get("/api/removeMovie?listName=seenlist&movieID=" + movieID, (data) => {
						console.log("Request is done. Returned:", data)
						location.reload()
					})
				}
		else
			script.
				console.log("Not logged in...")


