html
	head
		title Profile    
	body
		include ./navbar.pug
		hr
		h1 Your Profile
		if user
			h2 Hello, #{user.displayName}.
			if user.watchList
				p= "Your moive list:"
				ul 
					each movieInList in user.watchList
						li = movieInList.name	
			else 
				p= "Go ahead and choose the movie you want to wantch"
				

			if user.seenMovies
				p= "You've seen:"
				ul
					each movie in user.seenMovies
						li= movie.name
			else
				p= "You haven't seen any movies yet"
		else
			h2 Please log in to view your profile.
			a(href="/login/facebook") Click here to log in with Facebook
		