html
	head
		title Search
		link(rel='stylesheet', href='/css/style.css')       
	body
		h1 Find a Movie
		form
			input(type='text', class='search', id='search-field')
			button(type='button', class='button', id='search-button', onclick='doSearch()', value='Search') Search
		if searchresult
			img(src=searchresult.Poster, alt='Movie Poster')
			h3 Title
			p #{searchresult.Title}
			h3 Year
			p #{searchresult.Year}
			h3 Genre
			p #{searchresult.Genre}
			h3 Director
			p #{searchresult.Director}
		script.
			function doSearch() {
				moviename = document.getElementById('search-field').value
				location.href = "/search?moviename=" + moviename
			}


